@font-face {
    font-family: 'Montserrat', sans-serif;;
    src: url(../Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format(truetype), 
    url(../Montserrat/Montserrat-VariableFont_wght.ttf) format(truetype);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.719); */
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.social-menu{
    /* border: 1px solid red; */
    width: 45%;
}

a.social-icon{
    padding:.4em .5em;
    text-align: center;
    /* border-radius:50%; */
    /* background-color: #fff; */
}

/* a.social-icon svg{
    color: aquamarine;
} */

/* MENU */
.navbar{
    background-color: rgba(0, 0, 0, 0.87);
    height: 60px;
    padding: 0;
}

.navbar-brand{
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-brand{
    color: #fff;
    font-weight: 500;
}

.nav-link,
.dropdown-item,.dropdown-menu{
    padding: 0;
    margin: 0;
}

.navbar-light 
.navbar-nav 
.nav-link,
.navbar-light 
.navbar-nav 
.nav-link:active{
    color: #fff;
    font-weight: 500;
}

.navbar-light .navbar-nav 
.nav-link:focus, 
.navbar-light .navbar-nav 
.nav-link:hover{
    color: #c0c0c0;
}

/* SUBMENU */

.navbar .dropdown-menu{
    left: -50px;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.87);
    gap: 1em;
}

.dropdown-menu[data-bs-popper]{
    border: none;
    top: 39px;
}

.dropdown-item{
    color: #fff;
    font-weight: 500;
    margin: .7em 0;
}

.dropdown-item:hover{
    background: transparent;
    color: #c0c0c0;
}

/* MOBILE*/

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}

/* RESPONSIVO */

@media screen and (max-width:767px){
    .social-menu{
        width: 45%;
    }
}

@media screen and (max-width:768px){
    div#navbarNavDropdown{
        /* display: block; */
        position: absolute;
        top: 60px;
        left:0;
        background: rgba(0,0,0,.87);
        width: 100vw;
        padding:1.6em 2em;
    }

    .navbar-brand img{
        width: 140px;
        height: 24px;
    }

    li.nav-item.dropdown{
        padding: 0px;
    }

    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .dropdown-menu{
        background-color: transparent;
    }

    .navbar-nav,
    li.nav-item.dropdown{
        display: flex;
        flex-direction: column;
    }

    .navbar-nav{
        height: 100vh;
        justify-content: flex-start;
        border: none;
        gap: 1em;
    }

    .dropdown-item{
        margin: 1em 0;
    }

    li.nav-item.dropdown{
        background-color: transparent;
    }

    .navbar-nav .text-center,
    .nav-item{
        background-color: #0a0a0a;
        width: 100%;
        padding:.7em;
        border-radius: 5px;
    }

    .navbar-collapse{
        height: 100vh;
        flex-grow: 0 !important;
    }

    .nav-item a.nav-link:focus .collapse{
        display: none;
        background-color: #2797ff;
    }
}

/*UNIVERSAL*/
.section-branca,
.section-background
{
    padding: 2.5rem 5rem;
   /* padding:1.8rem 2.5rem; */
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #fff;
    scroll-margin-top: 60px;
    
}

.section-background{
    color: white;
}

.section-branca h2, 
.section-background h2{
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: 700;
}

.section-branca p,
.section-background p{
    font-size: 1.2rem;
    padding: 0;
    margin:1rem;
    line-height: 1.6rem;
    text-align: center;
}

.section-background p {
    color: #fff;
}

@media screen and (max-width:663px){

.section-branca,
.section-background{
    padding:1.8rem 1.5rem;
}

.section-branca h2,
.section-background h2{
    font-size: 1.4em;
}

.section-branca p,
.section-background p{
    font-size: 1.1rem;
    line-height: 1.6rem;
}

}


/* inicio sessão video */

#video{
    position:relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
}

/* MODAL BOOTSTRAP */

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-header{
    border-bottom: none;
}

@media (min-width:720px){
    #video{
        height:50vh;
    }
}

svg.bi.bi-play-circle-fill{
    width: 3em;
    height: 3em;
    color: rgba(0, 0, 0, 0.486);
    transition: all 300ms ease-in-out;
}

svg.bi.bi-play-circle-fill:hover{
    color: rgba(0, 0, 0, 0.267);
}

/* BOAS VINDAS */

#boasvindas{
    background:url(../picture/bemVindo.webp);
    background-size: cover;
    background-position:center 100px;
    background-attachment: fixed;
    /* margin-top: 55px; */
}

#boasvindas strong{
    font-weight: 900;
}

#invista{
    background-color: #fff;
    color: #000;
    padding:.3rem;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    background-color: #2797ff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1.3rem;
    border-radius: 50px;
    /* margin-top:1.5rem; */
    align-self: center;
    transition: all 300ms ease-in-out;
}

.botao:hover{
    background-color: #fff;
    color: #2797ff;
}

.informacao{
    font-size: .8rem;
    padding-top: 5px;
    color: #919191;
}

.none{
    display: none;
}
.block{
    display:block;
}

@media (min-width:720px){
    #boasvindas{
        background-position:top;
        background:url(../picture/Boas-vindas800.webp);
        background-size: cover;
        background-position:center 100px;
        background-attachment: fixed;
    }

    #invista{
       line-height: 35px;
    }

    /* .botao{
        margin-top: 1.5em;
    } */
}

/* COMUNICAÇÃO */



#container-comunicacao{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#comunicacao > span{
    font-size: .8rem;
    font-weight: 500;
    color: #7c7c7c;
}

.comunicacao-icon{
    border-radius:15px;
    box-shadow:0px 5px 20px #0000005d;
    margin: 10px 0;
    width:190px;/*testar outra alternativa*/
    /* border: 1px solid red; */
}

.comunicacao-icon:hover{
    transition-duration: 500ms;
    background-color: #f5f5f5;
}

.comunicacao-icon:hover .icon-name{
    transition-duration: 500ms;
    color: #b9b8b8;
}

.img-icon{
    display:flex;
    align-items:center
}

.comunicacao-icon a{
    /* border: 1px solid rebeccapurple; */
    display: inline-flex;
    justify-content: flex-start;
    
    text-decoration: none;
    padding: .6rem 1rem;
}

.comunicacao-icon:last-child img{
    padding-left:-50px;
}

.comunicacao-icon img{
    width: 30px;
    height: 30px;
}

.icon-name{
    align-self: center;
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #858585;
}

.clique{
    color: #b4b3b3;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.clique span{
    margin-right: 5px;
    font-size: .8rem;
}
.clique img{
    display: block;
    width: 1.3rem;
}

/* QUEM SOMOS  */

#quem-somos{
    background:url(../picture/quemSomos.webp);
    background-position:left;
    /* ajustar o tamanho da imagem  */
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    /* object-fit: cover;
    object-position: center; */
}

#quem-somos .texto h2{
    margin-top: 0;
}

#versiculo{
    margin: 20px auto 0;
}

#versiculo img{
    /* width: 590,766px;
    height: 123px; */
    border-radius: 10px;
}

@media (min-width:319px){
    #versiculo img{
        width:73%;
        border-radius: 10px;
    }
}

@media (min-width:478px){
    #quem-somos h2{
        font-size: 1.5rem;
    }
}

@media(max-width:570px){
    #quem-somos{
        background-image: url(../picture/quem-somos800.png);
        background-position:center;
        background-size: cover;
    }

}

@media (min-width:720px){
    #quem-somos{
        background:url(../picture/quemSomos.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    #versiculo img{
        width:80%;
        border-radius: 10px;
    } 

    .comunicacao-icon{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-name span{
        font-size: 1.7rem;
    }

    .comunicacao-icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:777px){
    #versiculo img{
        width:66%;
        border-radius: 10px;
    } 
}

@media (min-width:1000px){
    #versiculo img{
        width:50%;
        border-radius: 10px;
    } 

}

/* PASTORES */

#pastores img{
    width: 240px;
}

#nomes{
    display: flex;
    position: relative;
}

#nomes::after{
    content: "";
    display: block;
    width: 2px;
    height: 78%;
    background-color: #9c9c9c;
    position: absolute;
    top: 5px;
    left:47%;/*93px*/
}

.nome span{
    display: block;
    text-transform: uppercase;
}

.nome h2{
    margin: 0 15px;
}

/*FAZER RESPONSSIVO DA IMAGEM*/

@media(min-width:720px){
    #pastores img{
        width: 400px;
    }

    #pastores span{
        font-size: 1.3rem;
    }

}

@media (min-width:478px){
    #pastores img{
        width: 320px;
    }
}

/* PEDIDO DE ORAÇÃO */

#pedido-oracao{
    background:url(../picture/bgPedido.webp) repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

#pedido-oracao a{
    text-decoration: none;
}

#estamosAqui{
    display: flex;
    align-items: center;
    border: 1px dashed #919191;
    border-radius: 15px;
    padding:1em;
    margin: 1.5em auto;
}

#estamosAqui p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    margin-right: 10px;
}

#estamosAqui strong{
    font-size: 1.1rem;
    font-weight: 700;
}

#estamosAqui img{
    width: 60px;
    height: 60px;
}

@media(min-width:320px){
    #estamosAqui{
        width: 262px;
    }
    #estamosAqui p{
        font-size: 1.4rem; 
    }
    #estamosAqui strong{
        font-size: 1.3rem;  
    }
    #estamosAqui img{
        width: 63px;
        height: 63px;
    }
}

@media (min-width:478px){
    #pedido-oracao{
        background:url(../picture/bgPedido.webp);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    #estamosAqui {
        width: 310px;
    }

    #estamosAqui p{
        font-size: 1.6rem;
        line-height: 27px;  
    }

    #estamosAqui strong{
        font-size: 1.6rem;
        line-height: 25px;   
    }

    #estamosAqui img{
        width: 80px;
        height: 80px;
    }
    
}


/* GENEROSIDADE */

#generosidade img{
    width: 150px;
}

#generosidade q{
    font-size: .9rem;
    font-weight: 600;
    font-style: italic;
    color: gray;
}

#generosidade cite{
    font-size: .6rem;
    font-weight: 400;
}

#generosidade .botao{
    padding:.5rem 3rem;
}

#generosidade q{
    padding: 0 1.5rem 
}

/* VOLUNTÁRIO */

#voluntario{
    background:url(../picture/voluntarios.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    flex-direction: column;
}

#voluntario p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
}

#voluntario strong{
    font-size: 1.6rem;
    line-height:2.3rem;
    font-weight: 900;
    text-transform: uppercase;
}

/* AÇÃO SOCIAL */

#container-acao-social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#container-acao-social img{
    width: 90px;
}

#container-acao-social p{
    font-size: 1rem;
    font-weight: 500;
    max-width: 200px;
}

@media (min-width:375px) {

    #container-acao-social p{
    text-align: left;
    }
}

/* LOCALIZAÇÃO */

#localizacao{
    background-image: url(../picture/localizacao.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
}

#localizacao iframe{
    width: 245px;
    height: 245px;
    border-radius: 10px;
    margin:3em 0 1em;
}

@media (min-width:425px){

    #localizacao iframe{
        width: 80%;
    }
}

/* FOOTER */
footer{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: #fff;
}

#section-branca footer{
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;  
}

footer h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

footer ~ div{/*todas a divs depois de footer*/
    flex: 1 1 300px;
}

#logo-footer img{
    width: 180px;
}

#menu-footer,
#social-footer{
    color: #3c3c3c;
    text-align: left;
    padding: 0 10px;
}

#menu-footer h3,
#social-footer h3{
    margin-bottom: 0;
    text-align: left;
}

#menu-footer ul,
#social-footer ul{
    list-style-type:none;
    padding: 0;
    text-align: left;
}

#menu-footer li:before,
#social-footer li:before{
    content: "-";
    color: #3c3c3c;
    /* font-size: 1.5rem; */
}

#menu-footer li a,
#social-footer li a{
    text-decoration: none;
    font-size: .8em;
    font-weight: 700;
    color: #3c3c3c;
}

#social-footer h3{
    margin-top: 0;
}

#creditos{
    color: #3c3c3c;
}

#creditos{
   text-align: center;
}

#container-menu-footer{
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

@media (max-width:372px){
    #container-menu-footer{
        gap: 0em;
    }

    #menu-footer, #social-footer{
        padding: 0px .3em;
    }
  
}

@media (max-width:520px){
    #logo-footer{
        flex:1 0 100%;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 1.5em;
    }
}
