@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    /* width: 100vw; */
    background-color: rgba(0, 0, 0, 0.719);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

#video{
    position:relative;
    /* height:33.3%; */
    height: 50vh;
    max-height: 50vh;
    /* top:55px; */
}

#video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
    
}

@media (min-width:720px){
    #video{
        height:90vh;
    }
}

/* BOAS VINDAS */

#boasvindas{
    background:url(../picture/bemVindo-small.jpg);
    background-size: cover;
    background-position:center 100px;
    background-attachment: fixed;
    /* margin-top: 55px; */
}

.section-background{
    padding: 1.8rem 2.5rem;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

.section-background h2{
    margin-top: 0px;
    font-size: 1.2em;
}

.section-background p{
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin: 0;
    line-height: 1.3rem;
}

#boasvindas strong{
    font-weight: 900;
}

#invista{
    background-color: #fff;
    color: #000;
    padding:.3rem;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    background-color: #2797ff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1.3rem;
    border-radius: 50px;
    margin-top:1.5rem;
    align-self: center;
}

.informacao{
    font-size: .8rem;
    padding-top: 5px;
    color: #919191;
}

@media (min-width:720px){
    #boasvindas{
        background-position:top;
    }
    .section-background{
        padding: 3rem 5rem;
        background-size: cover;
        background-attachment: fixed;
    }

    .section-background p{
        font-size: 1.1rem;
        
    }

    #invista{
       line-height: 35px;
    }

    .botao{
        margin-top: 1.5em;
    }
}

@media (min-width:1000px){
    .section-background{
    padding: 2.5rem 15rem;
    }
}


/* COMUNICAÇÃO */

.section-branca{
    /* padding: 2.5rem 5rem; */
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight:900;
}

.section-branca h2{
    margin:0 0 1rem;
}

.section-branca p{
    font-size: 1rem;
    padding: 0;
    margin:1rem;
}

#container-comunicacao{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#comunicacao > span{
    font-size: .8rem;
    font-weight: 500;
    color: #7c7c7c;
}

.comunicacao-icon{
    border-radius:15px;
    box-shadow:0px 5px 20px #0000005d;
    margin: 10px 0;
    width:190px;/*testar outra alternativa*/
    /* border: 1px solid red; */
}

.comunicacao-icon:hover{
    transition-duration: 500ms;
    background-color: #f5f5f5;
}
.comunicacao-icon:hover .icon-name{
    transition-duration: 500ms;
    color: #b9b8b8;
}

.comunicacao-icon a{
    /* border: 1px solid rebeccapurple; */
    display: inline-flex;
    justify-content: flex-start;
    
    text-decoration: none;
    padding: .6rem 0rem;
}

.comunicacao-icon:last-child img{
    padding-left:-50px;
}

.comunicacao-icon img{
    width: 30px;
    height: 30px;
}

.icon-name{
    align-self: center;
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #858585;
}

.clique{
    color: #b4b3b3;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.clique span{
    margin-right: 5px;
    font-size: .8rem;
}
.clique img{
    display: block;
    width: 1.3rem;
}

@media (min-width:720px){
    .section-branca{
        padding: 2.5rem 5rem;
    }

    .section-branca h2{
        font-size: 1.5rem;
    }

    .section-branca span{
        font-size: 1.3rem;
    }

    .comunicacao-icon{
        padding: .8rem 1.8rem;
    }

    .icon-name span{
        font-size: 1.7rem;
    }
}

#quem-somos{
    background:url(../picture/quemSomos-small.jpg);
    background-position:left;
    /* ajustar o tamanho da imagem  */
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    object-fit: cover;
    object-position: center;

}

#quem-somos .texto h2{
    margin-top: 0;
}

#versiculo{
    margin: 20px auto 0;
}

#versiculo img{
    width: 240px;
    height: 50px;
    border-radius: 10px;
}

@media (min-width:478px){
    #quem-somos{
        background:url(../picture/quemSomos.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    #quem-somos h2{
        font-size: 1.5rem;
    }

    /* #versiculo img{
        /* width: 400px; 
        /* height: 90px; 
    } */

}

@media (min-width:714px){
    #versiculo img{
        width: 255px;
        height: 65px;
        border-radius: 10px;
    }
}

@media (min-width:1000px){
    #quem-somos{
    padding: 2.5rem 15rem;
    }
}

/* PASTORES */

#pastores img{
    width: 240px;
}

#nomes{
    display: flex;
    position: relative;
}

#nomes::after{
    content: "";
    display: block;
    width: 2px;
    height: 78%;
    background-color: #9c9c9c;
    position: absolute;
    top: 5px;
    left:47%;/*93px*/
}

.nome span{
    display: block;
}

.nome h2{
    margin: 0 15px;
}

/*FAZER RESPONSSIVO DA IMAGEM*/

@media(min-width:720px){
    #pastores h2{
        font-size: 1.5rem;
    }

    #pastores img{
        width: 400px;
    }

    #pastores span{
        font-size: 1.3rem;
    }

    #nomes::after{
        left: 115px;/*ARRUMAR DEIXAR CENTRALIZADO RESPONSSIVAMENTE*/
    }
}

@media (min-width:478px){
    #pastores img{
        width: 320px;
    }
}

/* PEDIDO DE ORAÇÃO */

#pedido-oracao{
    background:url(../picture/bgPedido-small.jpg) repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    object-position: center;
}

#pedido-oracao a{
    text-decoration: none;
}

#pedido-oracao #texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#estamosAqui{
    display: flex;
    align-items: center;
    border: 1px dashed #919191;
    border-radius: 15px;
    padding:.8rem;
    width: 200px;
    margin: 0 auto;
}

#estamosAqui p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    margin-right: 10px;
}

#estamosAqui strong{
    font-size: 1.1rem;
    font-weight: 700;
}

#estamosAqui img{
    width: 60px;
    height: 60px;
}

@media (min-width:478px){
    #pedido-oracao{
        background:url(../picture/bgPedido-large.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    #pedido-oracao h2{
        font-size: 1.2rem;
    }

    #estamosAqui{
        width: 270px;
    }

    #estamosAqui p{
        font-size: 1.4rem;
        line-height: 25px;  
    }

    #estamosAqui strong{
        font-size: 1.6rem;
        line-height: 25px;   
    }

    #estamosAqui img{
        width: 80px;
        height: 80px;
    }
    #pedido-oracao .links{
        margin-top: 20px;
    }

}

/* GENEROSIDADE */

#generosidade img{
    width: 150px;
}

#generosidade q{
    font-size: .9rem;
    font-weight: 600;
    font-style: italic;
}

#generosidade cite{
    font-size: .6rem;
    font-weight: 400;
}

#generosidade .botao{
    padding:.5rem 3rem;
}

#generosidade q{
    padding: 0 1.5rem 
}

/* VOLUNTÁRIO */

#voluntario{
    background:url(../picture/voluntario-smal1l.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    flex-direction: column;
}

#voluntario strong{
    font-size: 1.1rem;
    font-weight: 700;
}

#voluntario p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4rem;
}

#voluntario strong{
    font-size: 1.6rem;
    line-height:2.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* AÇÃO SOCIAL */

#container-acao-social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#container-acao-social img{
    width: 90px;
}

#container-acao-social p{
    font-size: 1rem;
    font-weight: 500;
    max-width: 200px;
}

@media (min-width:375px) {

    #container-acao-social p{
    text-align: left;
    }
}

/* LOCALIZAÇÃO */

#localizacao{
    background-image: url(/picture/localizacao-small1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

#localizacao iframe{
    width: 245px;
    height: 245px;
    border-radius: 10px;
    margin-top:90px;
}

@media (min-width:425px){

    #localizacao iframe{
        width: 80%;
    }
}

/* FOOTER */
footer{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    background-color: #fff;
}

#section-branca footer{
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    
}

footer h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

footer ~ div{/*todas a divs depois de footer*/
    flex: 1 1 300px;
}

#logo-footer img{
    width: 180px;
}

#menu-footer,
#social-footer{
    color: #3c3c3c;
    text-align: left;
    padding: 0 10px;
}

#menu-footer h3,
#social-footer h3{
    margin-bottom: 0;
    text-align: left;
}

#menu-footer ul,
#social-footer ul{
    list-style-type:none;
    padding: 0;
    text-align: left;
}

#menu-footer li:before,
#social-footer li:before{
    content: "-";
    color: #3c3c3c;
    /* font-size: 1.5rem; */
}

#menu-footer li a,
#social-footer li a{
    text-decoration: none;
    font-size: .8em;
    font-weight: 700;
    color: #3c3c3c;
}
#social-footer h3{
    margin-top: 0;
}

#creditos{
    color: #3c3c3c;
}

#creditos{
   text-align: center;
}

@media (max-width:520px){
    #logo-footer{
        flex:1 0 100%;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
}