@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,600&display=swap');
html{
    /*deixar rolagem suave*/
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

/*navegação*/
nav{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

section{
    padding:2.5rem 2rem;
}

.container{
    text-align:center;
    background-color:#000;
    color: #fff;
}

.logo img{
    width: 120px;
}

#social-midia{
    display: flex;
    justify-content: space-between;
}
.social-icon{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0 10px;
    background-color: #fff;
    font-size: 1.2rem;
    padding: 10px;
}

a{
    color: #000;
    text-decoration: none;
}

.fa-bars{
    font-size:1.9rem;
}

/*video*/
#container-video{
    position: relative;
    width: 100%;
    height: 300px;
}

video{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: center;
}

/*section boas vindas*/

#boasVindas{
    background-color: #000;
    color: #fff;
    font-size: .9rem;/*.6rem*/
}


.container strong{
    font-weight: 900;
}

#invista{
    background-color: #fff;
    color: #000;
}

.botao{
    display: inline-block;
    font-size: 1.2rem;
    background-color: rgb(0, 154, 243);
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1.4rem;
    border-radius: 50px;

    margin-top:25px;
}

.informacao {
    color: #b4b3b3;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

/*Comunicação*/

#comunicacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight:900;
}

#container-comunicacao{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.comunicacao-icon{
    border-radius:15px;
    box-shadow:0px 5px 20px rgba(0, 0, 0, 0.365);
    margin: 10px 0;
    width:250px;/*testar outra alternativa*/
}

.comunicacao-icon:hover{
    transition-duration: 500ms;
    background-color: #f5f5f5;
}
.comunicacao-icon:hover .icon-name{
    transition-duration: 500ms;
    color: #b9b8b8;
}

.comunicacao-icon a{
    display: flex;
    text-decoration: none;
    padding: .5rem 2rem;
}

.comunicacao-icon img{
    width: 40px;
}

.icon-name{
    align-self: center;
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #919191;
}


.clique{
    color: #b4b3b3;
}

/*quem somos*/
#quem-somos{
    position: relative;
    font-weight: 300;
    background: url(../_picture/pessoas.jpg);
    background-size: cover;
    padding:2rem;
}

.escurece:before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.815);
}

.escurece .texto{
    color: #fff;
    position:relative;/*relativo agora ao filtro preto*/
    z-index: 1;
}

#versiculo{
    margin: 10px 0;
    width:100%;/*300px*/
    height:85px;
    margin: 1.5rem auto 0;
    border-radius: 15px;
    background-color: #fff;
}

/* Seção Pastores */

#pastores{
    /* padding:2.5rem 1rem; */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

#img-pastores{
    width: 300px;
    height:320px;
    background-color: rgb(37, 139, 255);
    border-radius: 20px;
    margin-bottom: 1rem;
}
#img-pastores img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#nome-pastores{
    display: flex;
}

.nome{
    padding: 0 1rem;
}

.nome:first-child{
    border-right: 2px solid #000;
}

/* seção pedido de oração */

#pedido-oracao{
    position: relative;
    background-image:url(../_picture/culto.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#estamos-orando{
    width:300px;
    /* padding: 1rem; */
    border: 3px dashed #fff ;
    border-radius:20px;
}