@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


/* *{
    border: 1px solid;
} */

html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    /* width: 100vw; */

    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

header{
    background-color: #000;
    padding: .9rem;
}

header nav{
    color: #fff;
    text-align: center;
    font-size: .6em;
    height: 6.5%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

header img{
    width:120px;
}

#social-midia{
    display: flex;
}

.social-icon{
    padding: .3rem .4rem;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 10px;
    font-size: 1rem;
    line-height: 1rem;
}

.social-icon:first-child{
    margin-left: 0;
    padding: .3rem .3rem;
}

.social-icon a{
    text-decoration: none;
    color: #000;
}


.fa-bars{
    font-size: 1.6rem;
    cursor:pointer;
}

#mobile-menu{
    position: absolute;
    /* top:11.1%; */
    top: 0;
    left: 0;
    background-color: #000000e7;
    width:100%;
    height: 100vh;
    transition: all .5s ease;
}

#mobile-menu ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mobile-menu li{
    border: 1.3px solid transparent;
}

#mobile-menu li:hover{
    border-bottom: 1.3px solid #fff;
}

#mobile-menu a{
    text-decoration: none;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;

}

@media (min-width:720px) {

    header img{
        width:150px;
    }

    .social-icon{
        font-size: 1rem;
    }

    .fa-bars{
        font-size:2rem;
    }

    .fa-bars{
        /* display: none; */
    }
}


#video{
    position:relative;
    background-color: rgb(4, 161, 57);
    position: relative;
    /* height:33.3%; */
    height: 33vh;
    max-height: 50vh;
}

#video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
    
}

@media (min-width:720px){
    #video{
        height:90vh;
    }
}

/* BOAS VINDAS */

#boasvindas{
    background:url(../picture/bemVindo-small.jpg);
    background-size: cover;
    background-position:center 100px;
    background-attachment: fixed;
}

.section-background{
    padding: 1.8rem 1.5rem;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.section-background h2{
    margin-top: 0px;
}

.section-background p{
    text-align: center;
    color: #fff;
    font-size: .8rem;
    margin: 0;
    line-height: 1.3rem;
}

#boasvindas strong{
    font-weight: 900;
}

#invista{
    background-color: #fff;
    color: #000;
    padding:.3rem;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    background-color: #2797ff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1.3rem;
    border-radius: 50px;
    margin-top:15px;
    align-self: center;
}

.informacao{
    font-size: .8rem;
    padding-top: 5px;
    color: #919191;
}

@media (min-width:720px){
    #boasvindas{
        background-position:top;
    }
    .section-background{
        padding: 3rem 5rem;
        background-size: cover;
        background-attachment: fixed;
    }

    .section-background p{
        font-size: 1.1rem;
        
    }


    #invista{
       line-height: 35px;
    }

    .botao{
        margin-top: 0px;
    }
}

@media (min-width:1000px){
    .section-background{
    padding: 2.5rem 15rem;
    }
}

/* COMUNICAÇÃO */

.section-branca{
    /* padding: 2.5rem 5rem; */
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight:900;
}

.section-branca h2{
    margin:0 0 1rem;
}

.section-branca p{
    font-size: .8rem;
    padding: 0;
    margin:1rem;
}

#container-comunicacao{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#comunicacao > span{
    font-size: .8rem;
    font-weight: 500;
    color: #7c7c7c;
}

.comunicacao-icon{
    border-radius:15px;
    box-shadow:0px 5px 20px #0000005d;
    margin: 10px 0;
    width:190px;/*testar outra alternativa*/
    /* border: 1px solid red; */
}

.comunicacao-icon:hover{
    transition-duration: 500ms;
    background-color: #f5f5f5;
}
.comunicacao-icon:hover .icon-name{
    transition-duration: 500ms;
    color: #b9b8b8;
}

.comunicacao-icon a{
    /* border: 1px solid rebeccapurple; */
    display: inline-flex;
    justify-content: flex-start;
    
    text-decoration: none;
    padding: .6rem 0rem;
}

.comunicacao-icon:last-child img{
    padding-left:-50px;
}

.comunicacao-icon img{
    width: 30px;
    height: 30px;
}

.icon-name{
    align-self: center;
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #858585;
}

.clique{
    color: #b4b3b3;
    display: flex;
    align-items: center;
    font-size: .9rem;
}

.clique span{
    margin-right: 5px;
    font-size: .8rem;
}
.clique img{
    display: block;
    width: 1.3rem;
}

@media (min-width:720px){
    .section-branca{
        padding: 2.5rem 5rem;
    }

    .section-branca h2{
        font-size: 1.5rem;
    }

    .section-branca span{
        font-size: 1.3rem;
    }

    .comunicacao-icon{
        padding: .8rem 1.8rem;
    }

    .icon-name span{
        font-size: 1.7rem;
    }
}

#quem-somos{
    background:url(../picture/quemSomos-small.jpg);
    background-position:left;
    /* ajustar o tamanho da imagem  */
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;

}

#quem-somos .texto h2{
    margin-top: 0;
}

#versiculo{
    margin: 20px auto 0;
}

#versiculo img{
    width: 240px;
    height: 50px;
    border-radius: 10px;
}

@media (min-width:478px){
    #quem-somos{
        background:url(../picture/quemSomos.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    #quem-somos h2{
        font-size: 1.5rem;
    }

    #versiculo img{
        /* width: 400px; */
        /* height: 90px; */
    }

}

@media (min-width:1000px){
    #quem-somos{
    padding: 2.5rem 15rem;
    }
}

/* PASTORES */

#pastores{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

#pastores img{
    width: 240px;
}

#nomes{
    display: flex;
    position: relative;
}

#nomes::after{
    content: "";
    display: block;
    width: 2px;
    height: 78%;
    background-color: #9c9c9c;
    position: absolute;
    top: 5px;
    left:47%;/*93px*/
}

.nome span{
    display: block;
}

.nome h2{
    margin: 0 15px;
}

/*FAZER RESPONSSIVO DA IMAGEM*/

@media(min-width:720px){
    #pastores h2{
        font-size: 1.5rem;
    }

    #pastores img{
        width: 400px;
    }

    #pastores span{
        font-size: 1.3rem;
    }

    #nomes::after{
        left: 115px;/*ARRUMAR DEIXAR CENTRALIZADO RESPONSSIVAMENTE*/
    }
}

/* aqui vai conter o estilo da seção pedido de oração **************************************************************************/

/* PEDIDO DE ORAÇÃO */

#pedido-oracao{
    background:url(../picture/bgPedido-small.jpg) repeat;
    background-position:center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
}

#pedido-oracao a{
    text-decoration: none;
}

#estamosAqui{
    display: flex;
    align-items: center;
    border: 1px dashed #919191;
    border-radius: 15px;
    padding:.8rem;
    width: 200px;
}

#estamosAqui p{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1rem;
    /* margin-right: 10px; */
}

#estamosAqui strong{
    font-size: 1.1rem;
    font-weight: 700;
}

#estamosAqui img{
    width: 60px;
    height: 60px;
}

@media (min-width:478px){
    #pedido-oracao{
        background:url(../picture/bgPedido-large.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;

    }

    #pedido-oracao h2{
        font-size: 1.5rem;
    }

    #estamosAqui{
        width: 300px;
    }

    #estamosAqui p{
        font-size: 1.6rem;
        line-height: 25px;
        
    }

    #estamosAqui strong{
        font-size: 1.6rem;
        line-height: 25px;
        
    }

    #estamosAqui img{
        width: 100px;
        height: 100px;
    }
    #pedido-oracao .links{
        margin-top: 20px;
    }

}

/* GENEROSIDADE */

#generosidade img{
    width: 150px;
}

#generosidade q{
    font-size: .8rem;
    font-weight: 600;
    font-style: italic;
}

#generosidade cite{
    font-size: .6rem;
    font-weight: 400;
}

#generosidade .botao{
    padding:.5rem 3rem;
}

#generosidade q{
    padding: 0 1.5rem 
}

/* VOLUNTÁRIO */

#voluntario{
    background:url(../picture/voluntario-smal1l.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    display: flex;
    flex-direction: column;
}

#voluntario strong{
    font-size: 1.1rem;
    font-weight: 700;
}

#voluntario p{
    font-size: 1rem;
    font-weight: 400;
}

#voluntario strong{
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* AÇÃO SOCIAL */

#container-acao-social{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#container-acao-social img{
    width: 90px;
}

#container-acao-social p{
    /* text-align: left; */
    font-size: 1rem;
    font-weight: 500;
    max-width: 200px;
}

/* LOCALIZAÇÃO */

#localizacao{
    background-image: url(/picture/localizacao-small1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

#localizacao iframe{
    width: 245px;
    height: 245px;
    border-radius: 10px;
    margin-top:90px;
}

/* FOOTER */
#section-branca footer{
    display: flex;
    flex-flow: row wrap;
}

footer h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

footer{
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

footer ~ div{/*todas a divs depois de footer*/
    flex: 1 1 300px;
}

#logo-footer img{
    width: 180px;
}

#menu-footer,
#social-footer{
    color: #3c3c3c;
    text-align: left;
}

#menu-footer h3,
#social-footer h3{
    margin-bottom: 0;
}

#menu-footer ul,
#social-footer ul{
    list-style-type:none;
    padding: 0;
    text-align: center;
}

#menu-footer li:before,
#social-footer li:before{
    content: "-";
    color: #3c3c3c;
    /* font-size: 1.5rem; */
}

#menu-footer li a,
#social-footer li a{
    text-decoration: none;
    font-size: .8em;
    font-weight: 700;
    color: #3c3c3c;
}

#creditos{
    color: #3c3c3c;
}

#creditos{
   text-align: center;
}
